<ion-header>
  <ion-navbar [color]="setBackgroundToolbar()" [hideBackButton]="setHideBackButton()">     
    <ion-title>
      Plantilla De Control
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMapsModal()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>    
  </ion-navbar>
  <ion-toolbar [color]="setBackgroundToolbar()">
    <ion-searchbar placeholder="Ingrese n° trampa" animated="true" (ionInput)="searchTrap($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="setBackgroundColor()" > 
  <div>
    <h5 class="center">Seleccione trampa a modificar</h5> 
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-3 *ngFor="let idTrap of trapNumberID">
        <button ion-button class="squareButton" *ngIf='idTrap.split("")[1] == 1' [color]="getTrapIsChecked(idTrap) ? 'secondary' : 'light'" (click)="toStateRegister(idTrap)">
          {{ idTrap.split("")[0] }}
        </button>
        <button ion-button class="squareButton" *ngIf='idTrap.split("")[1] != 1' [color]="getTrapIsChecked(idTrap) ? 'secondary' : 'light'" (click)="toStateRegister(idTrap)">
          {{ idTrap }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <ion-card> 
    <ion-card-header>
      Hallazgos
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Ingrese Hallazgos" clearInput="true" [(ngModel)]="findings" maxlength="200"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <ion-card> 
    <ion-card-header>
      Acciones
    </ion-card-header>
    <ion-card-content>
      <ion-textarea placeholder="Ingrese Acciones" clearInput="true" [(ngModel)]="actions" maxlength="200"></ion-textarea>
    </ion-card-content>
  </ion-card>
  <br>
  <button ion-button icon-left color="secondary" large block (click)="confirmSending()">
    <ion-icon name="send"></ion-icon>  
    Enviar
  </button>      
</ion-content>
