page-control-template {
    .action-sheets-send {
        .action-sheet-cancel ion-icon {
            color: #ED4248;
        }
        .action-sheet-send ion-icon {
            color: #31D55F;
        }
    }

    .squareButton 
    {
        width: 70%;
        padding: 30% 0 30% 0;                
        margin: 10% 12%;
    }

    .center
    {
        text-align: center;
    }

    .ceboTemplate { 
        background-color: #c7efee;
    }

    .tcvTemplate { 
        background-color: #fff38d;
    }
    
}
