<ion-header>
  <ion-navbar color="primary">
    <ion-title>Servicio de Desratización</ion-title>    
  </ion-navbar>
</ion-header>


<ion-content>    
  <ion-list inset>    
    <ion-item>
      <ion-label floating>Rut Usuario: </ion-label>
      <ion-input type="text" [(ngModel)]="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña: </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <br>
    <button ion-button block color="light" (click)="SignUp()" icon-left>
      <ion-icon name="log-in"></ion-icon>
      Iniciar Sesión
    </button>        
  </ion-list>
  <div padding style="text-align:center">
    <a (click)="changePassword()">¿Ha olvidado su contraseña?</a>
  </div> 
  <br>
  <br>
  <div padding style="text-align:center">
    <img src="http://www.ecoquality.cl/sistema/service/img/logo_ecoquality.png">
  </div>
</ion-content>
