<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Perfíl Del Monitor
    </ion-title>        
  </ion-navbar>  
</ion-header>


<ion-content>
  <ion-card>
      <ion-card-title style="text-align:center">
        <ion-grid>
          <ion-row>
            <ion-col >
                <ion-icon name='clipboard' class="bigIcon"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                {{monitor?.name}} {{monitor?.lastname}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <font size="2">Monitor</font>               
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
      <ion-list>
        <ion-item>              
              <ion-note item-start>
                <ion-icon name='barcode' icon-left></ion-icon>
                  R.U.T
                </ion-note>
                {{ monitor?.rut }} 
        </ion-item>
        <ion-item>              
              <ion-note item-start>
                <ion-icon name='contact' icon-left></ion-icon>
                Nombre Usuario
              </ion-note>
              {{ monitor?.username }} 
        </ion-item>
        <ion-item>              
              <ion-note item-start>
                <ion-icon name='at' icon-left></ion-icon>
                Email
              </ion-note>
              {{ monitor?.email }}  
        </ion-item>
        <ion-item>              
              <ion-note item-start>
                <ion-icon name='home' icon-left></ion-icon>
                Domicilio
              </ion-note>
              {{monitor?.address}}
        </ion-item>
        <ion-item>              
              <ion-note item-start>
                <ion-icon name='call' icon-left></ion-icon>
                Télefono
              </ion-note>
              {{monitor?.phone_number}}
        </ion-item>         
      </ion-list>     
  </ion-card>  
</ion-content>
<ion-footer>
  <button ion-button icon-left color="danger" large block (click)="Logout()">
    <ion-icon name="log-out"></ion-icon>  
    Cerrar Sesión
  </button> 
</ion-footer>
