<ion-header>
  <ion-navbar [color]="setBackgroundToolbar()"  hideBackButton="true">
    <ion-title>
      Trampa Inicial
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMapsModal()">
        <ion-icon name="map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="setBackgroundColor()">
<form [formGroup]="formValidate" (ngSubmit)="toTemplateControl()">
  <ion-card>
    <ion-card-header>
      ¿Desde que trampa desea comenzar?
    </ion-card-header>
    <ion-card-content>
      <ion-list>      
        <ion-item>
          <ion-label floating>Ingrese trampa</ion-label>
          <ion-input [(ngModel)]="numberIdTrap" formControlName="validateIdTrap" type="number"></ion-input>          
        </ion-item>
        <ion-item *ngIf="formValidate.controls['validateIdTrap'].errors && formValidate.controls['validateIdTrap'].touched">
            <p style="color: #f53d3d">Ingrese una trampa existente</p>
            <p style="color: #f53d3d">en la base de datos.</p>
        </ion-item>
        <ion-item *ngIf="formValidate.controls['validateIdTrap'].hasError('required') && formValidate.controls['validateIdTrap'].touched">
            <p style="color: #f53d3d">Este campo no debe estar vacío.</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <button ion-button icon-left color="secondary" large block  type="submit" [disabled]="!formValidate.valid">
      <ion-icon name="arrow-round-forward"></ion-icon>  
      Avanzar
    </button> 
  </ion-footer>
</form>
</ion-content>
