page-detail-template {
    .bigButton 
    {
        height: 60px;
    }

    .ceboTemplate { 
        background-color: #c7efee;
    }

    .tcvTemplate { 
        background-color: #fff38d;
    }
}
