<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detalles Plantilla De Control</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <br>
  <ion-card [ngClass]="setBackgroundColor()">
      <ion-card-title style="text-align:center">
        <ion-grid>
          <ion-row>
            <ion-col >
                <ion-icon name='warning' class="bigIcon" *ngIf="trapType?.id == 1"></ion-icon>
                <ion-icon name='trash' class="bigIcon" *ngIf="trapType?.id == 2"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                Control Desratización - {{ trapType?.trap_type_name }} 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <font size="2">N° {{ controlTemplate?.id_visit }}  </font>               
            </ion-col>
          </ion-row>          
        </ion-grid>
      </ion-card-title>
      <ion-list>
        <ion-item [ngClass]="setBackgroundColor()">              
              <ion-note item-start color="dark">
                <ion-icon name='contacts' icon-left></ion-icon>
                Cliente:
              </ion-note>
              {{ client?.name }} 		
        </ion-item>
        <ion-item [ngClass]="setBackgroundColor()">              
              <ion-note item-start color="dark">
                <ion-icon name='globe' ios="ios-globe-outline" icon-left></ion-icon>
                Lugar:
              </ion-note>
              {{ client?.physical_place }} 
        </ion-item>
        <ion-item [ngClass]="setBackgroundColor()">              
              <ion-note item-start color="dark">
                <ion-icon name='copy' ios="ios-copy-outline" icon-left></ion-icon>
                Total Cebos:
              </ion-note>
              {{ controlTemplate?.total_trap }}  
        </ion-item>
        <ion-item [ngClass]="setBackgroundColor()">              
              <ion-note item-start color="dark">
                <ion-icon name='calendar' ios="ios-calendar-outline" icon-left></ion-icon>
                Fecha:
              </ion-note>
              {{ controlTemplate?.visit_date | date:"dd/MM/yyyy hh:mm"}}
        </ion-item>
        <ion-item [ngClass]="setBackgroundColor()">              
              <ion-note item-start color="dark">
                <ion-icon name='clipboard' ios="ios-clipboard-outline" icon-left></ion-icon>
                Monitor:
              </ion-note>
              {{ monitor?.name }} {{ monitor?.lastname }}
        </ion-item>       
      </ion-list>  
  </ion-card>  
</ion-content>
<ion-footer>
  <button ion-button icon-left color="secondary" large block (click)="toStartTemplate()">
    <ion-icon name="checkmark-circle-outline"></ion-icon>  
    Iniciar Plantilla
  </button> 
</ion-footer>
