<ion-header>
  <ion-toolbar>
    <ion-title>
      Mapa Del Lugar
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismissMapsModal()">
        <span ion-text color="primary" showWhen="ios">Cerrar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

</ion-content>
