<ion-header>
  <ion-navbar [color]="setBackgroundToolbar()" hideBackButton="true">
    <ion-title>Registro De Estado</ion-title>
  </ion-navbar>
</ion-header>


<ion-content [ngClass]="setBackgroundColor()">
  <h1 style="text-align: center" *ngIf='idTrap.split("")[1] == 1' >Trampa N° {{ idTrap.split("")[0] }}</h1>
  <h1 style="text-align: center" *ngIf='idTrap.split("")[1] != 1' >Trampa N° {{ idTrap }}</h1>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Localización
          <ion-note item-end>
            <h2 *ngIf="stateRegister.id_trap_location == 1">Norte</h2>
            <h2 *ngIf="stateRegister.id_trap_location == 2">Sur</h2>
            <h2 *ngIf="stateRegister.id_trap_location == 3">Este</h2>
            <h2 *ngIf="stateRegister.id_trap_location == 4">Oeste</h2>
          </ion-note>
        </ion-item>
      </ion-list>    
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list radio-group [(ngModel)]="id_trap_state"> 
      <ion-list-header>
        Seleccione el nuevo estado
      </ion-list-header>
      <ion-item *ngFor="let st of statesTrap">
        <ion-label>{{ st.name }}</ion-label>
        <ion-radio  value="{{ st.id }}" [checked]="stateRegister.id_trap_state == st.id? 'true' : 'false'" ></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>  
</ion-content>
<ion-footer>
  <button ion-button icon-left color="secondary" large block  type="submit" (click)='updateRegister()'>
    <ion-icon name="refresh"></ion-icon>  
    Actualizar Registro
  </button> 
</ion-footer>
