page-template-type {
    /* Styles here */

    .scroll-content {
        display: table !important;
        width: 100% !important;
        height: 100% !important;
        margin-top: -50px;
        text-align: center;
    }

    .scroll {
        display: table-cell;
        vertical-align: middle;
    }
    
    .squareButton 
    {
        width: 80%;
        padding: 30% 0 30% 0;                
        margin: 10% 12%;
    }

    .bigIcon {
        font-size: 40px;
    }
}