<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Tipo De Plantilla
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding> 
    <h1 class="empty" *ngIf="lengthTrapTypes == 0">Las plantillas asociadas a el cliente seleccionados ya se encuentran revisadas.</h1> 
    <ion-grid *ngIf="lengthTrapTypes != 0">               
        <ion-row *ngFor="let tt of trapTypes">
            <ion-col>
                    <button ion-button class="squareButton" (click)="toDetailTemplatePage(tt)" color="cebo" *ngIf="tt.id == 1">
                        <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="warning" class="bigIcon"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                {{tt.template_name}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    </button>
                    <button ion-button class="squareButton" (click)="toDetailTemplatePage(tt)" color="tcv" *ngIf="tt.id == 2">
                        <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-icon name="trash" class="bigIcon"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                {{tt.template_name}}
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
