<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Configuración
    </ion-title>        
  </ion-navbar>  
</ion-header>

<ion-content padding>
      <ion-list no-border>
          <ion-item>
                <ion-toggle checked="false"></ion-toggle>
                <ion-label>
                  Opción 1
                </ion-label>
                <ion-icon name='cog' item-start></ion-icon>
          </ion-item>
          <ion-item>
                <ion-toggle checked="false"></ion-toggle>
                <ion-label>
                  Opción 2
                </ion-label>
                <ion-icon name='cog' item-start></ion-icon>
          </ion-item>
          <ion-item>
                <ion-toggle checked="false"></ion-toggle>
                <ion-label>
                  Opción 3
                </ion-label>
                <ion-icon name='cog' item-start></ion-icon>
          </ion-item>
          <button ion-item (click)="Logout()" icon-left>
              <ion-icon name='log-out'  item-start></ion-icon>
              Cerrar Sesión              
          </button>          
      </ion-list>
</ion-content>
