<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Lista De Clientes
    </ion-title>    
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-title>
      Fecha: {{ current_date | date:'dd/MM/yyyy'}}
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content>  
  <ion-list>
    <button ion-item *ngFor="let client of clients"  (click)="toTemplateTypePage(client)">
      {{ client.name }} - {{ client.physical_place }}      
    </button>      
  </ion-list>
</ion-content>
